.collapsed {
    display: none;
}
.grd-row {
    overflow:hidden;
}
.grd-row-col-5-6, .grd-row-col-1-6 {
    cursor: pointer;
}
#loading {
    position: relative;
    margin:0;
    padding:0;
    top:60px;
}
#refresh:hover {
    background-color: #3498db;
}
#viaa:hover {
    background-color: #e74c3c;
}

body {padding-bottom:100px;}

@media (max-width: 500px) {
  #last {
    display: none;
  }
  
  h1 {
	  padding-top: 20px;
  }
  
  #viaa-logo {
	  position: absolute !important;
	  top: 0;
	  right: 0;
  }
}